/* general */
@font-face {
  font-family: 'zeldaregular';
  src: url('../assets/fonts/zelda_free-webfont.woff2') format('woff2'),
       url('../assets/fonts/zelda_free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 62.5%;
  height: 100%;
  /* firefox */
  /* scrollbar-color: #fff #212121;
  scrollbar-width: thin; */
  /* color variables */
  --surface-color: #fff;
  --accent-color:#e3cdb3;
  --black:#212121;

  /* transition variables*/
  --transition-duration: 300ms ease;
  overflow: hidden;
}

/* html::-webkit-scrollbar{
  width: 0.5rem;
}
html::-webkit-scrollbar-track{
  background-color: #212121;
}
html::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 5rem;
  
} */
body{
  height: 100%;
}

/* single components */
ul{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}

.btn{
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
/* layout */
.flex{
  display: flex;
}
.flex.column{
  flex-flow: column;
}

/* hover effects */
.hover-fade,
.text-hover{
  transition: var(--transition-duration);
}

.text-hover{
  transition-delay: 0s !important;
}
.hover-fade:hover{
  opacity: 0.5;
}

.text-hover:hover{
  color:var(--accent-color);
}
@media (min-width:420px) {
  .btn{
    font-size: 1.8rem;
  }
}
@media (min-width:800px){
  .btn{
  }
}