main{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-behavior: smooth;
  /* firefox */
  scrollbar-color: #fff #212121;
  scrollbar-width: thin;
}
main::-webkit-scrollbar{
  width: 0.5rem;
}
main::-webkit-scrollbar-track{
  background-color: #212121;
}
main::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 5rem;
}