header{
  padding: 2rem 2.25rem;
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 24;
}

.logo{
  font-family: 'zeldaregular', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.25rem;
  text-decoration: none;
  color: var(--surface-color);
  z-index: 25;
}

.wrapper{
  margin-left: auto;
  z-index: 24;
}

.icons-con{
  display: none;
  align-items: center;
  margin-right: 4.8rem;
}
.icons-con span,.icons-con a{
  display: inline-flex;
}
.icons-con > *+*{
  margin-left: 2.4rem;
}
.icons-con svg{
  fill: var(--surface-color);
}

.hamburger-icon{
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-icon span{
  transition: var(--transition-duration);
}
.hamburger-icon.active span:nth-child(1){
  transform: translateY(7px) rotate(45deg);
}
.hamburger-icon.active span:nth-child(2){
  transform: scale(0);
}
.hamburger-icon.active span:nth-child(3){
  transform: translateY(-7px) rotate(-45deg);
}

.hamburger-icon span{
  height: 2px;
  width: 100%;
  background-color: var(--surface-color);
}

@media (min-width:420px) {
  header{
    padding: 4rem 4rem 0;
    display: flex;
  }
  .logo{
    font-size: 2.4rem;
  }
  .icons-con{
    display: flex;
  }

  .hamburger-icon{
    width: 5rem;
    height: 2.4rem;
  }
  .hamburger-icon span{
    height: 3px;
  }
  .hamburger-icon.active span:nth-child(1){
    transform: translateY(11px) rotate(45deg);
  }
  .hamburger-icon.active span:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);
  }
}

@media (min-width:800px){
  .icons-con{
    margin-right: 6.4rem;
  }
  .icons-con > *+*{
    margin-left: 3.2rem;
  }
}